body, html {
  height: 100%;
  margin: 0;
  font-family: "Arial";
  font-weight: 1000;
}

.bgimg {
  background-image: url("bg.jpg");
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: #fff;
  font-size: 25px;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 32px;
  color: #fff;
  cursor: default;
}

h1
{
  margin: 10px;
}

.topleft
{
  position: absolute;
  top: 0;
  left: 16px;
  color: #fff;
  font-family: "Arial";
  font-weight: 1000;
}

h3
{
  background-color: transparent;
  background: rgb(0, 0, 0, 0.5);
  padding: 10px 50px;
  border: 7px solid burlywood;
  border-radius: 30px;
  color: #fff;
  cursor: default;
  margin: 10px;
}

.underConstructionText
{
  font-family: verdana;
  font-weight: 400;
  font-size: 15px;
  margin-top: 25px;
  text-align: center;
  margin-left: 25px;
  margin-right: 25px;
}